.screen-container {
	width: calc(100% - 100px);
	height: 100%;
	display: flex;
	border-radius: 30px;
	background-color: #101013;
	opacity: 1;
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 0,
			#101013 25px
		),
		repeating-linear-gradient(#002b5b55, #002b5b);
}

.local-screen-container {
	width: calc(100% - 100px);
	display: flex;
	border-radius: 30px;
	background-color: #101013;
	opacity: 1;
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 0,
			#101013 25px
		),
		repeating-linear-gradient(#002b5b55, #002b5b);
}

.flex {
	display: flex;
}
